<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cxdai.wx.favorite.mapper.TransferMapper">
	
	<select id="bidCount" resultType="com.cxdai.wx.favorite.vo.BidCountVo">
		select COUNT(id) as bidNum,MIN(CUR_APR) as minApr,MAX(CUR_APR) as maxApr from rocky_b_transfer where `STATUS`=2
	</select>
	
	<select id="firstCount" resultType="Integer">
		select count(id) from t_first_transfer where `STATUS`=2;
	</select>

</mapper>